
// Navigation
$gap-100:2.6875rem;
// Padding
$p-100:1.25rem;


.primary-header {	
	backdrop-filter: blur($background-blur); /* Blurs everything behind the element */
  box-shadow: 0px 1px 10px 0px rgba(102, 255, 255, 0.05);
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: $p-100;
	padding-block:$p-100;
	color:$White;
}

.social-icons {
	display: flex;
}


.nav-list {
	display: flex;
	gap:$gap-100;
	font-size: $fs-300;
	font-weight: $fw-semi-bold;
}
