// Layout
$mt-subheadline:$size-1; //Subheadline margin-top
$gap-header-btn:$size-2; 

// Typography
$hero-heading-fs:$fs-600;
$hero-subheading-fs:$fs-500;
$hero-subheadline-fs:$fs-300;
$heading-lh:1.5;

// Hero Call-To-Action
$btn-p-inline:1.125rem;
$btn-p-block:.9375rem;
$btn-fs:$fs-300; //18px
$btn-radius:$b-radius-6;
$btn-weight:$fw-semi-bold;


.hero-container {
	@include grid-center;
	position: relative;
	height: 75vh;
	&:after {
		content:'';
		background-image: url('../img/01d98a63-915e-4e9e-8098-d118cef3e431_1-removebg-preview\ 1.svg');
	background-repeat: no-repeat;
	position: absolute;
	bottom:0;
	left: 0;
	width: 100%;
	height: 400px;
	z-index:1;
	}

	&:before {
		content:'';
		background-image: url('../img/Hero\ Background\ Image.svg');
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 900px;
	height: 620px;
	
	}
}

.hero-content {
	@include grid-center;
	gap:$gap-header-btn;

	// Hero Header
	.hero-header {
		@include grid-center;
		color:$White;
		
.hero-heading {
font-size: $hero-heading-fs;
line-height: $heading-lh;
}

.hero-subheading {
font-size: $hero-subheading-fs;

}
		
		.hero-subheadline {
			color:$Platinum;
			margin-top: $mt-subheadline;
		}
	}
	
}


// Call To Action

.cta-wrapper {
	display: flex;
	gap:1rem;
}
.hero-call-to-action {
	display: inline-flex;
	width: fit-content;
	padding-inline:$btn-p-inline;
	padding-block: $btn-p-block;
	font-size: $btn-fs;
	border-radius:$btn-radius;
	font-weight: $btn-weight;
	background: $gradient-ice-background;
		
}

