
// Colors
$Black:#000;
$White:#fff;
$Platinum:#E4E4E4;
$DarkCharcoal:#121212;

// Gradients
$primary-gradient: linear-gradient(
	to left,
	rgba(18, 18, 18, 0.9),
	rgba(18, 18, 18, 0.9)
  ),
  linear-gradient(
	180deg,
	rgba(0, 119, 255, 0.8) 0%,
	rgba(31, 1, 185, 0.8) 100%
  );

  $gradient-ice-background: linear-gradient(
      90deg,
      rgba(31, 1, 185, 0.3) 0%,
      rgba(0, 119, 255, 0.3) 100%
    ),
    linear-gradient(to left, #66ffff, #66ffff);


// Layout
$size-1:1rem; //Header-subheadline margin-top 
$size-2:2.5rem; //Header-Button Spacing


// Typography
$fs-100:.875rem; // 14px
$fs-200: 1rem; // 16px
$fs-300: 1.125rem; //18px
$fs-400:1.5rem; // 24px
$fs-500:2.8125rem;
$fs-600:3.4375rem;

$body-lh:1;
$subheadline-lh:1.5;

$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 700;

// Styles
$background-blur:1.25rem;

// B-radius
$b-radius-6:.375rem;
$b-radius-10:.625rem;
$b-radius-20:1.25rem;








