
@import './variables';
@import './mixins';
@import './utilities';
@import'./reset';
@import './header';
@import './hero';


body {
	line-height: $body-lh;
	font-family: "Poppins", sans-serif;
}


.header-hero-section {
	display: flex;
	flex-direction: column;
	background:$primary-gradient;
	position: relative;

	&:after {
		content:'';
		background-image: url('../img/Hero\ Background\ Patterns-Photoroom\ 1\ \(1\).svg');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	bottom:100px;
	left:600px;
	width: 600px;
	height: 600px;
	
	
	}
	
}

